<div class="container">
  <h1>验证邮箱</h1>
  <p class='text-justify'><span id="message">{{mes}}</span></p>
  <div class="form" id="resend">
    <label>未收到邮件？重发或换一个邮箱</label>
    <input type="email" class="form-control" value={{user.email}} ></input>
    <button type="submit" class="btn btn-info">点击重发</button>
  </div>
</div>

<script type="text/javascript">
$(function(){
  var sendEmail = function() {
    $('#message').text("邮件发送中");
    var _email = $('#resend').find('input').val();
    console.log('sending');
    $.ajax({
      url: '/activate',
      type: 'post',
      data: {email:_email},
      success: function(data, status) {
        if (status == 'success') {
          $('#message').text(data.message);
        }
      },
      error: function(data, status) {
        if (status == 'error') {
          console.log("something wrong when post activate");
        }
      }
    });
  };
  $('#resend').find('button').click(sendEmail);
  $(window).load(sendEmail);
});
</script>
