<style>
/* Custom Styles */
    ul.nav-tabs{
        width: 140px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element */
    }
</style>
<script>
$(document).ready(function(){
    $("#myNav").affix({
        offset: { 
            top: 125 
      }
    });
});
</script>

<div class="container">
    <div class="row">
        <div class="col-xs-3" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" id="myNav">
                <li><a href="#section-1">关于以太坊(Ethereum)</a></li>
                <li><a href="#section-2">关于MetaMask</a></li>
                <li><a href="#section-3">游戏规则</a></li>
                <li><a href="#section-4">联系我们</a></li>
                <li><a href="#section-5">其他</a></li>
            </ul>
        </div>
        <div class="col-xs-6">
            <h2 id="section-1">关于以太坊(Ethereum)</h2>
            <p>以太坊（Ethereum）并不是一个机构，而是一款能够在区块链上实现智能合约、开源的底层系统，以太坊从诞生到2014年5月，短短3年半时间，全球已有200多个以太坊应用诞生。以太坊是一个平台和一种编程语言，使开发人员能够建立和发布下一代分布式应用。 以太坊可以用来编程，分散，担保和交易任何事物：投票，域名，金融交易所，众筹，公司管理， 合同和大部分的协议，知识产权，还有得益于硬件集成的智能资产。
2017年6月12日，以太币价格突破400美元，创下历史新高，从2017年2月份的8美元到6月15日的400美元，以太币的价格已经增长了50倍。与此同时，比特币的价格却出现了松动，相比此前的最高点已经降低了10%，以太币大有“接棒”比特币继续大涨的势头。</p>
            <hr>
            <h2 id="section-2">关于MetaMask</h2>
            <p>Metamask是一个浏览器插件（现支持谷歌chrome浏览器和firefox火狐浏览器）。该插件可以使以太坊方便地在浏览器上使用钱包，轻松实现转账，交易，使用智能合约。使用本应用前请先下载metamask。教程：<a href="/require">玩游戏前的准备</a></p>
            <hr>
            <h2 id="section-3">游戏规则</h2>
            <p>启动娃娃机抓狗狗！集齐五种狗狗召唤神犬！</p>
            <p>点击主页的“开始”按钮抓狗狗，每次只需支付0.003 ETH。每次抓取必定成功，但每种狗获取概率不同，最大达到30%，最小不足5%。所以你能不能抓到稀有狗狗呢？</p>
            <p>另外朋友之间可以互帮互助哦！点击主页的赠送按钮进入赠送页面，准确填写朋友的以太坊账户（地址），选择想要赠送的数量。交易确认后，你的朋友会收到你的赠送！或者您可以在用户信息页面（右上角导航栏进入）搜索你的朋友，在点击该页面的赠送按钮，账户地址会自动填充！</p>
            <p>当集齐五种狗狗后，点击主页的“兑换”按钮，提交交易，0.1 ETH的奖励将发放到您的当前账户！</p>
            <hr>
            <h2 id="section-4">联系我们</h2>
            <p>出现不能解决的问题，请联系我们！</p>
            <hr>
            <h2 id="section-5">其他</h2>
            <p>其他</p>
        </div>
    </div>
</div>
