<script src="/javascripts/app.js"></script>
<script src="/javascripts/event.js"></script>

<div class="container">
  <div class="pic row">
    <div class="col-md-4 col-md-offset-4">  
    <img alt="catched-img" class="img-rounded img-center" height=200 width=200 src="images/unknown.jpeg" >
    </div>
  </div>
  <div class="row">
    <div id='catch' class="col-md-2 col-md-offset-5">
      <br><button type="button" id="catch" onclick="App.catch()">Catch!</button>
    </div>
  </div>
<div>
</br></br> 

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2 col-md-8">
      <h4 class="text-center">Your Possession</h4>
      <hr/>
      <br/>
    </div>
  </div>

  <div id="dollsRow" class="row">
        <!-- DOLLS LOAD HERE -->
  </div>
</div>

  <div id="dollTemplate" style="display: none;">
      <div class="col-md-2 col-sm-2">
        <div class="panel panel-default panel-doll">
          <div class="panel-heading">
            <h3 class="panel-title">XX DOG</h3>
          </div>
          <div class="panel-body">
            <img alt="img" height=80 width=80 src="images/dog0.jpeg" >
            <br/><br/>
            <span class="doll-num">0</span></br></br>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="bottom-btn row">
    <div class="col-md-2 col-center-block">
      <br><button type="button" id="submit" onclick="App.submit()">Get Prize!</button>
    </div>  
    <div class="col-md-2 col-center-block">
      <br><button type="button" id="transfer" onclick="window.location.href='/transfer' " >Transfer</button>
    </div>
  </div>

  <div class="msg row">
    <br><span id="hint"></span>
  </div>
</div>
</br>
