<html>

<head>
	<title>LUCKY DOG</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/web3.min.js"></script>
	<script src="/javascripts/truffle-contract.js"></script>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	{{{body}}}
<footer>
<p>
	<a href="/">main page</a>
</p>
</footer>

</body>
</html>
