<html>

<head>
	<title>LUCKY DOG</title>
	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="/javascripts/jquery.min.js"></script>
	<script src="/javascripts/bootstrap.min.js"></script>
	<script src="/javascripts/web3.min.js"></script>
	<script src="/javascripts/truffle-contract.js"></script>
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  {{{message}}}
  <div id="user">
    <span>hello </span>
    <span class="username">{{{user.username}}}</span>
    <a href="/logout">logout</a>
  </div>
  </br>
	{{{body}}}
<footer class="footer navbar-fixed-bottom">
  <div class="container">
     <div class="row">
	<div class="row-content col-lg-2 col-sm-4 col-xs-6">	
          <a href="/">main page</a>
	</div>
     </div>
     <div class="row">
	<div class="row-content col-lg-6 col-sm-6 col-xs-8">
	  <span class="text-muted">copyright: xxxxxxx</span>
       </div>
     </div>
  </div>
</footer>

</body>
</html>
