<div class="container">
  <h1>请先安装Metamask插件</h1>
  </br>
  <a href="https://metamask.io" />metamask官方网站</a></br>
  <h2>具体安装方法</h2>
  <ol>
    <li>确保您使用的是chrome或firefox浏览器</li>
    <li>如果是firefox浏览器，请在右上角菜单-&gt;Add ons-&gt;Extension搜索并下载metamask插件</li>
    <li>如果是chrome浏览器，请在设置-&gt;扩展程序中搜索并下载metamask插件</li>
    <li>按照插件提示完成注册等准备工作，确认连接main network</li>
    <li>如果您已经拥有ethereum账户,使用import导入账户</li>
    <li>如果您第一次接触ethereum，请按照提示完成注册，metamask将为您生成账户</li>
    <li>在注册该应用时，请使用改账户地址。应用将自动检测您的metamask</li>
  </ol>
</div>


