{{#extend "stylesheets"}}
<style>
    * {
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .send {
        position: absolute;
        bottom: 3%;
        width: 100%;
    }

    .container {
        width: 94%;
        margin: 0px 3% 5%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }

    .container .box {
        width: 17%;
        max-width: 120px;
    }

    .container .box img {
        width: 100%;
    }

    .submit {
        width: 20%;
        max-width: 150px;
        height: auto;
    }

    .box button {
        color: black;
    }

    .box>span {
        padding: 0.5px 4.5px;
        text-align: center;
        line-height: 20px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: white;
        font-size: 12px;
    }

    .box {
        position: relative;
    }

    .box div {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .box .minus {
        display: inline-block;
        width: 25%;
        height: 20px;
        background-color: #ddd;
        float: left;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
    }

    .box input {
        width: 48%;
        height: 20px;
        text-align: center;
        line-height: 20px;
        margin: 0px 1%;
        border: 0px;
    }

    .box .add {
        display: inline-block;
        width: 25%;
        height: 20px;
        background-color: #ddd;
        float: right;
        text-align: center;
        line-height: 20px;
        cursor: pointer;
    }

    .form_box {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
    }

    .form_box .form_pic {
        width: 80%;
        max-width: 500px;
    }

    form {
        color: #d1bfff;
        font-size: 14px;
        position: absolute;
        width: 100%;
    }

    form input {
        color: black;
        width: 70%;
        max-width: 200px;
        height: 30px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 5px;
        border: 0px;
        background-color: #d1bfff;
    }
</style>
{{/extend}}

<div class="catch_home">
    <div class="form_box">
        <img src="http://wx.wpart.cn/uploads/Q/Qdh4nAHglce5Bkn7PTKf/1/6/d/1/5a915bf31f80c.png_p2js" class="form_pic"/>
        <form action="">
            <div>
                <span>接收地址</span>
                <input type="text" id="recipient" value="{{recipient}}">
            </div>
        </form>
    </div>
    <div class="send">
        <div class="container" id="dollList">
            <div class="box animals">
                <img src="http://wx.wpart.cn/uploads/g/glwmxv1478167257/9/4/6/7/5a90dff7019fe.png_p2js"/>
                <span>0</span>
                <div>
                    <button class="minus">-</button>
                    <input type="text" value="0">
                    <button class="add">+</button>
                </div>
            </div>
            <div class="box animals">
                <img src="http://wx.wpart.cn/uploads/g/glwmxv1478167257/0/7/0/b/5a90dffda7c76.png_p2js"/>
                <span>0</span>
                <div>
                    <button class="minus">-</button>
                    <input type="text" value="0">
                    <button class="add">+</button>
                </div>
            </div>
            <div class="box animals">
                <img
                src="http://wx.wpart.cn/uploads/g/glwmxv1478167257/d/8/b/c/5a90e002ba391.png_p2js" />
                <span>0</span>
                <div>
                    <button class="minus">-</button>
                    <input type="text" value="0">
                    <button class="add">+</button>
                </div>
            </div>
            <div class="box animals">
                <img src="http://wx.wpart.cn/uploads/g/glwmxv1478167257/f/6/2/f/5a90e00798a76.png_p2js" />
                <span>0</span>
                <div>
                    <button class="minus">-</button>
                    <input type="text" value="0">
                    <button class="add">+</button>
                </div>
            </div>
            <div class="box animals">
                <img src="http://wx.wpart.cn/uploads/g/glwmxv1478167257/3/e/d/b/5a90e00ce292c.png_p2js" />
                <span>0</span>
                <div>
                    <button class="minus">-</button>
                    <input type="text" value="0">
                    <button class="add">+</button>
                </div>
            </div>

        </div>
        <img src="http://wx.wpart.cn/uploads/Q/Qdh4nAHglce5Bkn7PTKf/1/8/8/f/5a916272ba86d.png_p2js" class="submit" onclick="App.transfer()"/>
    </div>
</div>

<script src="/javascripts/app.js"></script>
<script src="/javascripts/event.js"></script>

<script>
$(function(){
   // the buttons choosing number of dogs to transfer
    for (var i=0; i<5; i++) {
        object.eq(i).find('.minus').click(function () {
            var input = $(this).siblings('input');
            var current = $(this).parent().siblings('span');
            if (parseInt(input.val()) > 0) {
                input.val(parseInt(input.val())-1);
            }
        });
        object.eq(i).find('.add').click(function() {
            var input = $(this).siblings('input');
            var current = $(this).parent().siblings('span');
            if ( parseInt(input.val()) < parseInt(current.text()) ) {
                input.val(parseInt(input.val())+1);
            }
        });
    }
});
</script>



