* {
    padding: 0px;
    margin: 0px;
}

body {
    color: white;
}

body .title {
    height: 8%;
    margin: 2% auto 1% auto;
}

input {
    color: black;
}

body .bg {
    background-image: url(http://wx.wpart.cn/uploads/w/wlkflr1516618029/2/1/1/1/5a71592691691.png_p2js);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

#nav {
  width:500px;
  position: fixed;
  top: 10px;
  right: 15px;
}

